<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='myfont/css/all.min.css')}}">
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
     <style>



         body {
 background-image: url("https://pic-bucket.s3.us-east.cloud-object-storage.appdomain.cloud/wp3396934.jpg");
             background-size: 1500px 1000px;
}
        .shadow {
            color: rgb(255, 255, 255);
            font-size: 25px;

            padding: 10px;
            box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
            margin: 20px;
        }
    </style>
</head>
<body>